/**
 * home-iot-api
 * The API for the EatBacon IOT project
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ZonesApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : Seq[String] (ok)
   */
  def getZones(): ApiRequest[Seq[String]] =
    ApiRequest[Seq[String]](ApiMethods.GET, "https://virtserver.swaggerhub.com/rfi2/test/1.0.0", "/zones", "application/json")
      .withSuccessResponse[Seq[String]](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 :  (ok)
   * 
   * @param zoneId 
   */
  def quietZone(zoneId: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/rfi2/test/1.0.0", "/zones/{zoneId}/quiet", "application/json")
      .withPathParam("zoneId", zoneId)
      .withSuccessResponse[Unit](200)
      

}

